body {
  margin: 0px;
  font-family: sans-serif;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playerInfo {
  margin: 10px;
}

.gameboard {
  height: 200px;
  width: 200px;
  background-color: lightblue;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
}

.square {
  font-size: 55px;
  background-color: lightcoral;
  display: flex;
  align-items: center;
  justify-content: center;
}
